.chat-container {
    border-left: 1px solid black;
    width: 300px;
    right: 0;
    transition: transform 1.5s ease-in-out; 
    transform: translateX(0); 
    

}
.container.closed {
    transform: translateX(100%);
    padding: 0px;
}
.chat-button{
    position: absolute;
    margin-top: 16px;
    right: 20px;
    padding: 4px 12px;
    background-color: white;
    border: 2px solid #a9c7ff;
    border-radius: 12px;
}

.arrow-container {
    position: absolute;
    left: -40px;
    top: 50%;
    cursor: pointer;
    padding-right: 1rem;
    transform: translateY(-50%);
}