.chat-container {
    box-shadow: 3px 3px 12px rgba(123, 152, 206, 0.25); /* Softer, more diffused shadow */
    border: 1px solid rgba(131, 131, 131, 0.5); /* Lighter, semi-transparent blue */
    border-radius: 12px; /* Slightly smoother corners */
}



.chat-button{
    position: absolute;
    margin-top: 16px;
    right: 20px;
    padding: 4px 12px;
    background-color: white;
    border: 2px solid #a9c7ff;
    border-radius: 12px;
}

.arrow-container {
    position: absolute;
    left: -40px;
    top: 50%;
    cursor: pointer;
    padding-right: 1rem;
    transform: translateY(-50%);
}