.query-container {
  margin-left: 8px;
  margin-right: 8px;
  flex: 1;
  padding: 12px;
}

.task-block {
  max-height: 300px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: #fed5ff;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.label {
  padding-left: 8px;
  padding-right: 12px;
  width: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.task-prompt {
  height: auto;
  background-color: white;
  padding: 4px 8px;
  padding-right: 12px;
  border-radius: 12px;
  border: 1px solid #cb96d4;
  overflow-y: auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.task-reason {
  padding-top: 12px;
  padding-left: 8px;
}
.task-message-container {
  margin-left: 8px;
}

.filter-block-container {
  margin-top: 12px;

}
.filter-block {
  /* max-height: 160px; */
  margin-top: 8px;
  padding: 16px 0px 16px 8px;
  display: flex;
  align-items: center;
  background-color: #b2caff;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 6px;

}
.col-rec-container {
  margin-left: 4px;
}
.filter-tags {
  flex: 0.95;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* max-height: 120px; */
  overflow-y: auto;
}
.filter-prompt {
  background-color: white;
  padding: 4px 8px;
  border-radius: 12px;
  border: 1px solid #2363eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.metadata-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  padding: 0;
  background-color: white;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hidden {
  background-color: #dedede;
}

.filter-prompt.inactive {
  text-decoration: line-through; /* Cross out the text */
  color: red; /* Optional: Add red color */
}
