.container {
    border-left: 1px solid black;
    width: 300px;
    right: 0;
    transition: transform 1s ease-in-out; 
    transform: translateX(100%);/* Initially hide the chat container */
}
.container.open {
    transform: translateX(0); /* Slide the chat container into view */
    transition: transform 1s ease-in-out; 
}

.arrow-container {
    position: absolute;
    left: -40px;
    top: 50%;
    cursor: pointer;
    padding-right: 1rem;
    transform: translateY(-50%);
}