.app-container {
  display: flex;
  flex-direction: row;
  width: 99vw;
  height: 98vh;
  transition: flex 1s ease-in-out;
  font-size: 18px;
  margin: 8px;
}

.app-container > :nth-child(1) {
  flex: 1 1 25%;
}

.app-container > :nth-child(2) {
  flex: 1 1 75%;

}

